PORT = 7007

DATABASE_URL = sqlite+aiosqlite:///./app.db

JWT_SECRET = <your_jwt_secret>

ACCESS_TOKEN_EXPIRY = <your_access_token_expiry>
REFRESH_TOKEN_EXPIRY = <your_refresh_token_expiry>

ENVIRONMENT = DEV